<template>
    <!--@@@--- CARD GERAL EXTERNO DA PAGINA -->
    <div class='mt-7'>
        <!--@@@--- CARD SUPERIOR DE TITULO E CAROUSEL -->
        <v-row justify="center">
            <v-col cols='12' lg='10' md='11' sm='12'>
                <v-card>
                    <!--Para tela maior -->
                    <h2 class="hidden-sm-and-down text-center white--text font-weight-black display-2 py-3 my-5" 
                        style="background-color: rgb(57, 81, 214,0.7;">
                        <v-avatar class="pb-2" color="rgb(gb(57, 81, 214,0.7)">
                        <v-icon color="white" x-large>mdi-home-flood</v-icon>
                        </v-avatar>
                        {{hotel.nome}}
                    </h2>

                    <!--Para tela menor -->
                    <h2 class="hidden-md-and-up text-center white--text font-weight display-1 py-3 my-5" 
                        style="background-color: rgb(57, 81, 214,0.7;">
                        <v-avatar class="pb-2" color="rgb(gb(57, 81, 214,0.7)">
                        <v-icon color="white" x-large>mdi-home-flood</v-icon>
                        </v-avatar>
                        {{page_title}}
                    </h2>
                    
                    <!-- Row de dentro do CARD maior-->
                    <v-row justify="center">
                        <!-- Col do Carousel com as Imagens do Hotel-->
                        <v-col cols='12' lg='7' md='8' sm='12'>      
                            <v-carousel>
                                <v-carousel-item
                                    v-for="(image,i) in images"
                                    :key="i"
                                    :src="image"
                                    reverse-transition="fade-transition"
                                    transition="fade-transition"
                                ></v-carousel-item> 
                            </v-carousel>       
                        </v-col>
                        
                        <!-- Col direito para a reserva-->
                        <v-col cols='10' lg='5' md='5' sm='12'>
                            <p color="text--grey">Uma explicação pequena</p>
                            <v-card-text >A partir de:</v-card-text>
                            <h2>R$ 400,00</h2>

                        <!-- Itens de Calendario-->
                        <v-row justify="center">
                            <!-- Card do Calendario 1-->
                            <v-col>
                                <v-card class="px-3">
                                    <v-menu
                                        v-model="menu1"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        max-width="290px"
                                        min-width="290px"
                                        >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field
                                            v-model="computedDateFormatted"
                                            label="Escolha data de chegada"
                                            persistent-hint
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-on="on"
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
                                    </v-menu>
                                </v-card>
                            </v-col>

                            <!-- Card do Calendario 1-->
                            <v-col>
                                <v-card class="mr-2 px-3">
                                    <v-menu
                                        v-model="menu2"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        max-width="290px"
                                        min-width="290px"
                                        >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field
                                            v-model="computedDateFormatted2"
                                            label="Escolha data de partida"
                                            persistent-hint
                                            prepend-icon="mdi-calendar"
                                            readonly
                                            v-on="on"
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="date2" no-title @input="menu2 = false"></v-date-picker>
                                    </v-menu>
                                </v-card>
                            </v-col>
                        </v-row>

                        <!-- Itens dos Botoes de criancas e adultos-->
                        <v-row justify="center">
                            <v-col cols="6">
                                <v-card>
                                    <v-card-text class="font-weight-bold">Crianças</v-card-text>
                                    <v-card-title class="justify-space-around">
                                        <v-btn icon color="red" @click="minusBtn1()"><v-icon>mdi-minus</v-icon></v-btn>
                                        <p>{{num1}}</p>
                                        <v-btn icon color="green" @click="plusBtn1()"><v-icon>mdi-plus</v-icon></v-btn>
                                    </v-card-title>
                                </v-card>
                            </v-col>
                            
                            <v-col cols="6">
                                <v-card>
                                    <v-card-text class="font-weight-bold">Adultos</v-card-text>
                                    <v-card-title class="justify-space-around">
                                        <v-btn icon color="red" @click="minusBtn2()"><v-icon>mdi-minus</v-icon></v-btn>
                                        <p>{{num2}}</p>
                                        <v-btn icon color="green" @click="plusBtn2()"><v-icon>mdi-plus</v-icon></v-btn>
                                    </v-card-title>
                                </v-card>
                            </v-col>
                        </v-row>
                        
                        <!-- Botao de Verificar Reserva-->
                        <v-btn @click="event($event)" class="mt-5" large color="teal lighten-2 white--text" block>
                            <v-icon class="mx-3">mdi mdi-star-four-points</v-icon>
                            Verificar Reserva 
                        </v-btn>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <!-- Card Maior Abaixo-->
            <v-col cols='12' lg='11' md='11' sm='12'>
                <v-card class="pb-5 pt-5 mx-4" style="background-color: rgb(200,200,200,0.4);">
                    <v-card-text>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</v-card-text>
                    <v-row justify="center">
                        <v-col cols="12" lg="6">
                            <v-card-title>Estruturra dos Leitos</v-card-title>
                            <v-btn class="mx-2 my-2" rounded outlined color="teal"
                                v-for="(item, i) in hotel.estrutura_leitos" :key="i"
                                >
                                <v-icon class="pr-1"> {{item.icone}}</v-icon>
                                {{item.titulo}}
                            </v-btn>
                        </v-col>

                        <v-col cols="12" lg="6">
                            <v-card-title>Estruturra do Hotél</v-card-title>
                            <v-btn class="mx-2 my-2" rounded outlined color="teal"
                                v-for="(item, i) in hotel.estrutura_hotel" :key="i"
                                >
                                <v-icon class="pr-1"> {{item.icone}}</v-icon>
                                {{item.titulo}}
                            </v-btn>
                        </v-col>
                    </v-row>

                    <v-card-actions>
                        <v-row justify='center'> 
                            <v-col cols='12' lg='4' md='5' sm='5' xs='5'
                                v-for="(apartamento, j) in hotel.apartamentos"
                                :key="j"
                                >
                                <v-hover
                                v-slot:default="{ hover }"
                                open-delay="100"
                                >
                                    <v-card :elevation="hover ? 16 : 2">
                                        <c-sell-card 
                                        :s_title="apartamento.titulo"
                                        :s_subtitle="apartamento.num_pessoas"
                                        :s_description="apartamento.descricao"
                                        s_opcionais=""
                                        :s_valores=apartamento.valor
                                        :s_img="apartamento.img"
                                        :s_show="true"
                                        s_width="340"
                                        s_btn1="Reservar"
                                        s_image_link=''
                                        />
                                    </v-card>
                                </v-hover>  
                            </v-col>
                        </v-row>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import SellCard from '../../components/SellCard.vue'

export default {
    name: "Hoteis_Links",
    components: {
        'c-sell-card': SellCard,
    },
    
    data() {
        return {
            page_title: "título da página",
            num1: 0,
            num2: 0,
            images: [
                'http://www.guia-bonito.com/imagens/hoteis/wetiga/fachada_capa.jpg',
                'http://www.guia-bonito.com/imagens/hoteis/aguas_bonito/piscina_capa.jpg',
                'http://www.guia-bonito.com/imagens/hoteis/zagaia/estrutura_capa.jpg',
                'http://www.guia-bonito.com/imagens/hoteis/marrua/marruag.jpg'
            ],
            date: new Date().toISOString().substr(0, 10),
            date2: new Date().toISOString().substr(0, 10),
            dateFormatted: this.formatDate(new Date().toISOString().substr(0, 10)),
            dateFormatted2: this.formatDate(new Date().toISOString().substr(0, 10)),
            menu1: false,
            menu2: false,

            hotel: {
                nome: '',
                descricao_curta: '',
                descricao_longa: '',
                regulamento: '',
                valor: '',
                localizacao: '',
                animais: '',
                politicas: '',
                lazer: '',
                capa: '',
                estrutura_leitos: [ 
                    {titulo: 'Wi-fi', icone: 'mdi-wifi'},
                    {titulo: 'Frigobar', icone: 'mdi-glass-cocktail'},
                    {titulo: 'Café da Manhã', icone: 'mdi-baguette'}, 
                    {titulo: 'TV à Cabo', icone: 'mdi-television-guide'}, 
                    {titulo: 'Cofre', icone: 'mdi-lock-open-ckeck'}, 
                    {titulo: 'Telefone', icone: ''}, 
                    {titulo: 'Ar Condicionado', icone: ''} 
                ],
                estrutura_hotel: 
                [ 
                    {titulo: 'Bar', icone: ''},
                    {titulo: 'Sauna à Vapor', icone: ''},
                    {titulo: 'Serviço 24 hs', icone: ''},
                    {titulo: 'Wi-fi', icone: ''},
                    {titulo: 'Sala de TV', icone: ''},
                    {titulo: 'Sala de Leitura', icone: ''},
                    {titulo: 'Ar Condicionado', icone: ''},
                    {titulo: 'Lavanderia', icone: ''},
                    {titulo: 'Babá', icone: 'mdi-mother-nurse'},
                    {titulo: 'Sala de Massagem', icone: ''},
                    {titulo: 'Salão p/ eventos', icone: ''},
                    {titulo: 'Restaurante', icone: ''},
                    {titulo: 'Pista Cooper', icone: ''},
                ],
                apartamentos: [ 
                { 
                titulo: "Apartamento Luxo",
                num_pessoas: "Até 3 Pessoas",
                descricao: "Tamanho 21m². Tem uma bela sacada com vista para a piscina. No apartamento encontraremos, Ar-condicionado, TV 20 polegada, telefone inteligente, cama box spring, etc.",
                valor: "500",
                img: "http://www.guia-bonito.com/imagens/hoteis/wetiga/luxo3.jpg",
                },

                { 
                titulo: "Apartamento Premium",
                num_pessoas: "Até 4 Pessoas",
                descricao: "Tamanho 44m². dois ambientes integrados, sendo a sala e o quarto ( ambos com uma bela sacada e vista para a piscina, telefone inteligente, ar-condicionado split, TV LCD de 32 polegadas, etc.)",
                valor: "350",
                img: "http://www.guia-bonito.com/imagens/hoteis/wetiga/premium5.jpg",
                },

                { 
                titulo: "Apartamento Master",
                num_pessoas: "Até 5 Pessoas",
                descricao: "Tamanho 63m². dois ambientes integrados, sendo a sala e o quarto ( ambos com uma bela sacada e vista para a piscina, telefone inteligente, ar-condicionado split, TV LCD de 32 polegadas, etc.)",
                valor: "295",
                img: "http://www.guia-bonito.com/imagens/hoteis/wetiga/master4.jpg",
                },
            ],
            },
        }
    },
    created () {
        this.$root.$on('HotelLinks::go', (id) => this.hotel.nome = id);
    },

    computed: {
      computedDateFormatted () {
        return this.formatDate(this.date)
      },
      computedDateFormatted2 () {
        return this.formatDate(this.date2)
      },
    },
    watch: {
      date () {
        this.dateFormatted = this.formatDate(this.date)
      },

      date2 () {
        this.dateFormatted2 = this.formatDate(this.date2)
      },
    },

    methods: {
        event (event) {
            console.log(event);
        },
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },

        abrirDialog () {
            this.$root.$emit('LoginDialog::show');
        },

        verificarReserva () {
            alert("Check-In: " + this.dateFormatted + " Check-Out: " + this.dateFormatted2)
            alert("Crianças: " + this.num1 + "  Adultos: " + this.num2)
        },

        plusBtn1() {
            if (this.num1=='19') {
                alert("Thank You! please contact us to make a reserve for more than 20 people");
            } else {
                this.num1++;
            }
        },

        minusBtn1() {
            if (this.num1=="0") {
                this.num1=0;
            } else {
                this.num1--;
            }
        },

        plusBtn2() {
            if (this.num2=="19") {
                alert("Thank You! please contact us to make a reserve for more than 20 people");
            } else {
                this.num2++;
            }
        },

        minusBtn2() {
            if (this.num2=="0") {
                this.num2=0;
            } else {
                this.num2--;
            }
        }
    },
}
</script>