<template>
  <div id="home" class="mt-5">
    <v-row justify="center" class="mt-5">
      <v-col cols="12" lg="10" md="10" sm="12" class="mt-5">

        <v-row justify="center">
          <v-col cols="4" lg="2" md="2" sm="3" xs="4">
            <div class="hidden-xs-only"><v-icon dark size="150">mdi-bookshelf</v-icon>
            <h2 class="ml-5 white--text">BibliUne</h2></div>
            
            <div class="hidden-sm-and-up"><v-icon dark size="100">mdi-bookshelf</v-icon>
            <h3 class="ml-5 white--text">BibliUne</h3></div>
          </v-col>
          <v-col cols="8" lg="8" md="8" sm="8">
            <v-card-title class="justify-center">
              <h2 class="hidden-sm-and-down white--text">A Biblioteca da Unificação</h2><!-- xl lg md-->
              <h3 class="hidden-md-and-up white--text">{{"A Biblioteca da" + '\xa0'}}</h3> <!--sm xs-->
              <h3 class="hidden-md-and-up white--text">Unificação</h3><!--sm xs-->
            </v-card-title>
            <v-card-text class="hidden-xs-only text--justify white--text font-weight-dark">Este espaço foi criado para que os unificacionistas possam ter acesso rápido, fácil e de forma centralizada a vários materiais que possam os ajudar em suas missões a atividades. Desfrutem e compatilhem para que outros também possar ter acesso.</v-card-text>
          </v-col>
          <v-card-text class="text-justify mx-3 hidden-sm-and-up white--text font-weight-dark">Este espaço foi criado para que os unificacionistas possam ter acesso rápido, fácil e de forma centralizada a vários materiais que possam os ajudar em suas missões a atividades. Desfrutem e compatilhem para que outros também possar ter acesso.</v-card-text>
        </v-row>

        <v-divider color="white" class="mx-4 my-5"></v-divider>
        <!-- CARDS - OUTRAS OPCOES DE PASSEIOS -->


          <v-col cols='12'>
            <v-row justify="center">
              <v-hover
                v-slot:default="{ hover }"
                open-delay="100"
                v-for="(card, i) in cards"
                :key="i"
              >
                <v-col cols="12" lg='4' md='5' sm='6' xs='12'>
                  <v-card :elevation="hover ? 16 : 2" route :to="card.link">
                    <v-card-title style="background-color: rgb(150, 150,150,0.25);" class="justify-center">
                      <v-icon class="hidden-sm-and-down" color="blue darken-1" size="200">{{card.icon}}</v-icon>
                      <v-icon class="hidden-md-and-up" color="blue darken-1" size="150">{{card.icon}}</v-icon>
                    </v-card-title>
                    <v-divider color="blue" class="mx-4"></v-divider> 
                    <v-card-title class="hidden-sm-and-down"><h2>{{card.title}}</h2></v-card-title>
                    <v-card-title class="hidden-md-and-up"><h3>{{card.title}}</h3></v-card-title>
                    <v-card-text >{{card.descricao}}</v-card-text>            
                  </v-card>
                </v-col>
              </v-hover>
            </v-row>
          </v-col>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// @ is an alias to /src
//import BaseSpinner from '../components/BaseSpinner'
//import SellCard from '../components/SellCard'
import { mapActions, mapMutations, mapGetters } from 'vuex'

export default {
  name: 'Home',
  hover: false,
  components: {
    
  },
  computed: {
    ...mapGetters({
      
    }),
  },
  created () {
    
  },
  mounted () {
    //const db = this.$firebase.firestore();
    //var textsRef = db.collection("home").doc("texts");

    //@@@@---- ROTINA PARA INSERIR DADOS NO SERVIDOR;
    // hoteisRef.collection("estabelecimentos").doc("paraiso").set({
    // });

    // hoteisRef.collection("estabelecimentos").doc("wetiga").update({
      
    // });

    //@@@@---- CARREGANDO TODO CONTEÚDO DO CARD 3
    // var i = -1;
    // textsRef.collection("card3").get().then((querySnapshot) => {
    //   querySnapshot.forEach(cards => {
    //     i++;
    //     if (cards.exists) {
    //       //---- CARREGANDO CARDS DO CARD 3
    //       this.populateCard3(i, textsRef);
    //       //---- CARREGANDO MENSAGENS DO CARD 3
    //       for (const property in cards.data()) {
    //         this.texts.card3[i][property] = cards.data()[property];
    //       }
    //     } else {
    //     // doc.data() will be undefined in this case
    //     console.log("No such document! - card 3");
    //   }
    //   })
    // })
  },
  data: () => ({
    actual: '',
    images: [],
    slides: [],
    cards: [
      {
        title: 'Guias do Presidente',
        icon: 'mdi-account-tie',
        link: '/presidente',
        descricao: 'Guias internos e HDHs gravados pelo Presidente Koichi'
      },

      {
        title: 'Conferências do PD',
        icon: 'mdi-account-tie',
        link: '/pd',
        descricao: 'Guias internos e HDHs gravados pelo Presidente Koichi'
      },

      {
        title: 'Conferências Causa',
        icon: 'mdi-account-tie',
        link: '/causa',
        descricao: 'Guias internos e HDHs gravados pelo Presidente Koichi'
      },

      {
        title: 'Guias de HG',
        icon: 'mdi-account-tie',
        link: '/guiashg',
        descricao: 'Guias internos e HDHs gravados pelo Presidente Koichi'
      },

      {
        title: 'Frases Curtas',
        icon: 'mdi-account-tie',
        link: '/curtas',
        descricao: 'Guias internos e HDHs gravados pelo Presidente Koichi'
      },

      {
        title: 'Bons Quebra Gelos',
        icon: 'mdi-account-tie',
        link: '/quebragelo',
        descricao: 'Guias internos e HDHs gravados pelo Presidente Koichi'
      }
    ]
        
  }),
  methods: {
    ...mapMutations({
    }),

    ...mapActions({
      //'increment', ['actionIncrement'],
    }),

    populateCard3 (j, textsRef) {
      textsRef.collection("card3").doc("0".concat(j+1)).collection("contents").get().then((subQuerySnapshot) => {
        subQuerySnapshot.forEach(docs => {
          if (docs.exists) {
            for (const sdproperty in docs.data()) {
              this.texts.card3[j].contents[sdproperty] = docs.data()[sdproperty]
            }
          } else {
            // doc.data() will be undefined in this case
            console.log("No such document! - card3 - 01 - contents");
          }
        });
      })
    }
  }
}
</script>

<style scoped>
</style>
