<template>
  <div>
    <!-- @@@-- Barra de Navegacao Superior -->
    <v-app-bar
      :collapse="!collapseOnScroll"
      :collapse-on-scroll="collapseOnScroll" 
      color='rgb(0, 128, 128, 0.4)'
      dark 
      app  
      src="https://media.wired.com/photos/5e666c01ac94e900085c0f3d/191:100/w_2400,h_1256,c_limit/Biz-books-174638658.jpg"
    >
      <v-app-bar-nav-icon style="background-color: rgb(74, 149, 142,0.7);" v-on:click="abrirMenu()"></v-app-bar-nav-icon>
      <v-toolbar-title class="ml-0 pl-3" v-model="collapseOnScroll">
          <v-btn class="hidden-sm-and-down" large color="teal darken-2" route to="/">
            <v-icon>mdi-bookshelf</v-icon>
            <h3 class="font-weight-light">{{title.parte1}}</h3>
            <h3 class="font-weight-light">{{title.parte2}}</h3>
            <h3>{{title.parte3}}</h3>
          </v-btn>
      </v-toolbar-title>
      
      <v-spacer></v-spacer>

      <!-- ## lado direito do toolbar -->
      <!-- <div class="hidden-sm-and-down">
        <v-menu
          offset-y
          v-for="item in itens"
          :key="item.title"
        >
          <template v-slot:activator="{ on }">
            <v-btn v-on="on" class="ma-1" large color="teal darken-2">
              <span>{{ item.title }}</span>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="subItem in item.itens"
              :key="subItem.title"
              :to="subItem.route"
            >
              <v-list-item-title >{{ subItem.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </div> -->
      <!--<c-language class="hidden-sm-and-down" />  botoes para trocar a lingua -->
    </v-app-bar>

    <!-- @@@-- Menu lateral -->
    <v-navigation-drawer
      v-model="drawer"
      style="opacity: 0.88;"
      color="teal lighten-1"
      :clipped="$vuetify.breakpoint.lgAndUp"
      fixed
      app
      temporary
    >
      <v-list-item>
        <!-- <v-list-item-avatar color="white">
          <v-img :src="logo"></v-img>
        </v-list-item-avatar> -->
        <v-list-item-content>
          <v-list-item-title>
            <h3 class="text-center mt-3" large color="teal darken-2" route to="/">
              <v-icon dark>mdi-bookshelf</v-icon>
              <span class="font-weight-light white--text">Bibli</span>
              <span class="white--text">Une</span>
            </h3>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>

      <v-list>
        <v-list-group v-for="item in itens" :key="item.title">
          <template v-slot:activator>
            <v-list-item-title class="white--text">{{ item.title }}</v-list-item-title>
          </template>
          <v-list no-action sub-group value="true">
            <v-list-item
              v-for="subItem in item.itens"
              :key="subItem.title"
              :to="subItem.route"
            >
              <v-list-item-title class="white--text">-> {{subItem.title}}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-list-group>
        <!--<c-language class='text-center'/>  botoes para trocar a lingua -->
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
//import Languages from "../components/Languages";
export default {
  name: 'AppBar',

  data: () => ({
    drawer: false,
    collapseOnScroll: true,
    title: {parte1: 'Biblioteca', parte2: ' da ',parte3: 'Unificação'},
    itens: [
      {
        title: "Vídeos",
        itens: [
          { icon: "", title: "Guia Interno Presidente", route: "/presidente" },
          { icon: "", title: "Confências do PD", route: "/pd" },
          { icon: "", title: "Confências da Causa", route: "/causa" },
        ]
      },
      {
        title: "Palavra",
        itens: [
          { icon: "", title: "Frases Curtas", route: "/curtas" },
          { icon: "", title: "Guias", route: "/guias" },
        ]
      },
      {
        title: "Home Group",
        itens: [
          { icon: "", title: "Quebra Gelo", route: "/quebragelo" },
          { icon: "", title: "Guias de HG", route: "/guiashg" },
        ]
      },
      {
        title: "Imagens",
        itens: [
          { icon: "", title: "Fotos dos VPs", route: "/vps" },
        ]
      },
    ]
  }),

  methods: {
    abrirMenu() {
      this.drawer = !this.drawer;
    },
  },
}
</script>
