<template>
    <div class='c-languages'>
        <v-btn color="secondary" fab x-small dark>
          <v-avatar size="30">
            <v-img :src='flags[0].pt'></v-img>
          </v-avatar>
        </v-btn>
        <v-btn color="secondary" fab x-small dark>
          <v-avatar size="30">
            <v-img :src='flags[1].en'></v-img>
          </v-avatar>
        </v-btn>
        <v-btn color="secondary" fab x-small dark>
          <v-avatar size="30">
            <v-img :src='flags[2].es'></v-img>
          </v-avatar>
        </v-btn>
    </div>
</template>

<script>
export default {
    data: () => ({
        flags: [
            {pt: 'https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1280px-Flag_of_Brazil.svg.png'},
            {en: 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png'},
            {es: 'https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/1200px-Flag_of_Spain.svg.png'},
        ],
    })
}
</script>