<template>
    <div id="c-login">
    <v-dialog
        v-model="dialog"
        max-width="500"
    >
        <v-row
            align="center"
            justify="center"
        >
            <v-col>  
                <v-card class="elevation-12" >
                    <v-toolbar
                        :color="color.blue_strong_100"
                        dark
                        flat
                    >
                        <v-toolbar-title><h3 class="text-center font-weight-black">{{login_msg[0]}}</h3></v-toolbar-title>
                        <div class="flex-grow-1"></div>
                    </v-toolbar>
                    
                    <v-card-text class="mb-0">
                    
                    <v-form ref="form" v-model="valid">
                        <v-text-field
                            v-model="email"
                            :label="login_msg[1]"
                            :rules="emailRules"
                            required
                            counter
                            color="#8B0000"
                        ></v-text-field>

                        <v-text-field
                            v-model="password"
                            :label="login_msg[2]"
                            :append-icon="e1 ? 'mdi-eye-off' : 'mdi-eye'"
                            :append-icon-cb="() => (e1 = !e1)"
                            :type="e1 ? 'password' : 'text'"
                            :rules="passwordRules"
                            :counter='12'
                            required
                            color="#8B0000"
                        ></v-text-field>
                    </v-form>
                    </v-card-text>
                    <v-card-actions>
                    
                    <!-- Botao de Login-->
                    <v-row align="center" justify="center">
                        <v-col cols=5> 
                            <!-- Se o usuario colocar informacoes corretas-->
                            <v-btn v-if="valid && !isLogin" 
                                :color="color.blue_middle_85" 
                                class="font-weight-black"
                                dark
                                block
                                @click="doLogin()"
                                :disabled="!valid"
                            >{{login_msg[3]}}</v-btn>

                             <!-- Se o usuario nao digitar nada ou informacoes invalidas-->
                            <v-btn v-if="!valid && !isLogin"
                                class="font-weight-black"
                                disabled
                                block
                            >{{login_msg[3]}}</v-btn> 

                            <!-- Se o usuario clicar em entrar-->
                            <v-btn v-if="isLogin"
                                class="font-weight-black"
                                disabled
                                block
                            >Entrando...
                                <v-progress-circular 
                                    :size="20"
                                    color="blue darken-1"
                                    indeterminate
                                    class="ml-2"
                                ></v-progress-circular>
                            </v-btn>                 
                        </v-col>
                    </v-row>

                    <!-- <v-col>
                        Botao de Login com Facebook
                        <v-btn outlined color="#000080" dark> {{login_msg[4]}}
                            <v-icon dark right>mdi-facebook-box</v-icon>
                        </v-btn> 
                    </v-col> -->

                    </v-card-actions>

                    <v-col class="text-center">
                        <v-container class="pa-0 mt-0">
                            <!-- Botao esqueci a senha-->
                            <v-btn text small color="grey" dark>{{login_msg[5]}}</v-btn> 
                        </v-container>
                    </v-col>
                    
                    <v-divider horizontal></v-divider>
                    <v-layout align-center>
                        <v-col class="text-center">
                        <!-- Botao de Cadastre-se-->
                        <p>
                            <font color="grey">{{login_msg[6]}}</font>
                            <v-btn text color="#8B0000" dark>{{login_msg[7]}}</v-btn>
                        </p>
                        </v-col>                    
                    </v-layout>
                </v-card>  
            </v-col>
        </v-row>
    </v-dialog>
    <c-snackbar 
        text='Eu sou uma mensagem'
        color='orange'
    />
</div>
  
</template>

<script>
import Snackbar from './Snackbar'
  export default {
    name: 'Login',
    props: [
    ],
    components: {
        'c-snackbar': Snackbar,
    },
    data: () => ({
        dialog: false,
        e1: true,
        valid: true,
        isLogin: false,
        email: '',
        emailRules: [
          (v) => !!v || 'E-mail is required',
          (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'],
        password: '',
        passwordRules: [ (v) => !!v || 'Password is required',],
        color: {
            blue_strong_100: 'rgb(40, 47, 199, 1)',
            blue_middle_85: 'rgb(52, 60, 217, 0.85)',
            blue_middle_70: 'rgb(52, 60, 217, 0.7)',
            blue_weak_65: 'rgb(80, 86, 191, 0.65)',
        },
        login_msg: [
            'Faça Seu Login',
            'Número de telefone, usuário ou e-mail',
            'Senha',
            'Entrar',
            'Entrar com Facebook',
            'Esqueceu sua senha?',
            'Ainda não tem conta?',
            'Cadastre-se',
        ]
    
    }),
    methods: {
        async doLogin () {
            //metodo de desustruturacao de objeto
            //mesma coisa que fazer const email = this.email...
            const {email, password} = this
            try {
                this.isLogin = true;

                const res = await this.$firebase.auth().signInWithEmailAndPassword(email, password);
                
                window.uid = res.user.uid;
                this.$router.push({path: 'userpage'});
                this.dialog = false;
                this.isLogin = false;
                //setTimeout( () => this.$root.$emit('Spinner::show'), 2000);
                //this.$root.$emit('Spinner::hide')
                console.log(res);
            } catch (error) {
                this.isLogin = false;
                console.log(error.code);
                console.log(error.message);
                // ...
            }
        },
        async doLogout () {
            try {
                this.isLogin = true;
                await this.$firebase.auth().signOut();
                this.$router.push({path: '/'});
            } catch (erro) {
                this.isLogin = false;
            }   
        }
    },
    created () {
        this.$root.$on('LoginDialog::show', () => this.dialog = true);
    }
  }
</script>