<template>
  <div class="c-sell-card">
  <v-card 
    class="mx-auto"
    :max-width="s_width"
    outlined
  >
    <router-link v-if='s_image_link' :to="s_image_link">
      <v-img
        aspect-ratio="1.5" 
        :src="s_img"
      ></v-img>
    </router-link>

    <v-img v-else
        aspect-ratio="1.2" 
        :src="s_img"
        @click="goHotel(s_id)"
    ></v-img>

    <v-card-title>{{s_title}}</v-card-title>
    <v-card-subtitle v-if="s_subtitle">{{s_subtitle}}</v-card-subtitle>

    <v-card-text class="text-justify">
        <!-- <v-rating v-if='s_ifrating'
          :value="4.5"
          color="amber"
          dense
          half-increments
          readonly
          size="14"
        ></v-rating>

        <div v-if='s_ifrating' class="grey--text ml-4">4.5 (413)</div> -->

      <!-- Expansivel para texto de explicacao -->
      <v-expand-transition v-if="s_description">
        <div v-if="s_show">
          <v-divider></v-divider>
          <p v-if="this.s_description.length < 150" class="mt-1 text-justify">{{ s_description.substr(0, 150) }}</p>
          <p v-else class="mt-1 text-justify">{{ s_description.substr(0, 150) }}...</p>
          <!-- Botao de retorno (somente para abrir) -->
          <v-btn 
            icon 
            @click="s_show = !s_show " 
            color="black" 
            v-if="s_description.length >= 150"
          >
            <v-icon>{{ s_show  ? 'mdi mdi-chevron-up' : 'mdi mdi-chevron-down' }}</v-icon>
          </v-btn>
        </div>
        <div v-else>
          <v-divider></v-divider>
          <v-card-text class="text-justify">{{ s_description }}</v-card-text>
        </div>
      </v-expand-transition>
      
      <!-- Botao de retorno global -->
      <!-- <v-card-actions v-if="s_description.length >= 150">
        <v-btn icon @click="s_show = !s_show " color="black">
          <v-icon>{{ s_show  ? 'mdi mdi-chevron-up' : 'mdi mdi-chevron-down' }}</v-icon>
        </v-btn>
      </v-card-actions> -->
    </v-card-text>

    <v-divider class="mx-4" v-if="s_opcionais"></v-divider> 

    <!-- Texto de opcionais e valores -->
    <div class="mx-4 mt-1 text--primary" v-if="s_opcionais || s_valores">
      <strong v-if="s_opcionais" class="text--primary">Opcionais: </strong><p>{{s_opcionais}}</p>
      <h2 v-if="s_valores">{{s_valores}}</h2>
    </div>

    <!-- Botao reservar -->
    <v-card-actions>
      <v-btn v-if='s_btn1' text class="orange--text" to="www.google.com">
        {{s_btn1}}
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn v-if='s_btn2' color="deep-purple lighten-1" outlined to="www.google.com">
        {{s_btn2}}
      </v-btn>
    </v-card-actions>
  </v-card>
  </div>
</template>


<script>
  export default {
    name: 'SellCard',
    props: [
      's_title', 
      's_subtitle', 
      's_description', 
      's_opcionais', 
      's_valores', 
      's_img', 
      's_show',
      's_width',
      's_btn1',
      's_btn2',
      's_image_link',
      's_id',
    ],
    data: () => ({
      selection: 1,
      reserve: 'Reserve Já!'
    }),

    methods: {
      goHotel(id) {
        this.$root.$emit('HotelLinks::go', id)
        this.$router.push({ path: 'hoteis_links'});
      }
    },
  }
</script>