<template>
<!-- bloco que contem a pagina -->
  <v-app >
    <router-view/>
    <c-app-bar/>
    <c-footer/>
  </v-app>
</template>

<script>
import Footer from "@/components/Footer";
import AppBar from '@/components/AppBar'
export default {
  name: 'App',
  components: {
    'c-app-bar': AppBar,
    'c-footer': Footer,
  },

  data: () => ({
    //
  }),
  mounted () {
    this.$firebase.auth().onAuthStateChanged(user => { 
      window.uid = user ? user.uid : null;

      //na primeira vez que entrar no site, se nao estiver logado vai pra home
      // if (window.uid) {
      //   this.$router.push({ name: window.uid ? 'home' : 'login'});
      // }
    });
  }
};
</script>

<style>
#app {
  background-image: linear-gradient(#30d9c9, #ffffff);
}
</style>
